extends layout.pug

block content
  div.overlay.hidden
    section.modal.hidden
      <button class="btn-close">⨉</button>
      form(method='Post' action='/create')
        label(for='message') Message
        textarea#message.form-control(
          type='textarea',
          name='message',
        )
        button Submit

  div.content
    div.content-left
      h1 Members Only
      if user
        p Welcome #{user.first_name}
        if !user.isMember
          p An exclusive clubhouse platform that allow you to write anyonymous post.
          p Only members of the clubhouse are able to see who the author of a post is.
          button.modal-member-btn(type='button') 
            a(href='/join') Join Clubhouse
        else
          p Write a message
      else
        p sign up and join a clubhouse
    div.content-right
      h1 Messages
      if messages.length == 0
        p There are no messages posted.
        p Be the first to post a messags
      else 
        ul
          each message in messages
            li 
              if user && user.isMember
                h1.user=user ? 'name' : 'no name'
              h2 #{message.text}
        button.message-btn(type='button') Add Message

          
