extend layout

block content
  div.content
    div.content-left
      h1 Login
      form(action='' method='post')
        div.form-group
          label(for='username') Email:
          input#username.form-control(
            type="email",
            name='username',
            value=''
          ) 
          label(for='password') Password:
          input#password.form-control(
            type="password",
            name='password',
            value=''
          )
          button.btn.btn-primary(type='submit') Login
    div.content-right-form
      h1 Members Only
      p Sign up to join a clubhouse
      p Leave a message for other user to view
      p Join a clubhouse, enter the secret #[br] password  and view user for each message