extends layout

block content
  div.content
    div.content-left
      h1 Create An Account
      form(method='Post' action='')
        div.form-group
          label(for='firstName')  First Name: 
          input#firstName.form-control(
            type='text',
            name='firstName',
            value='',
          )
          label(for='lastName')  Last Name: 
          input#lastName.form-control(
            type='text',
            name='lastName',
            value=''
          )
          label(for='email')  Email: 
          input#email.form-control(
            type='email',
            name='email',
            value='',
            required
          )
          label(for='password')  Password: 
          input#password.form-control(
            type='password',
            name='password',
            value=''
          )
          button.btn.btn-primary(type='submit') Submit
    div.content-right-form
      h1 Members Only
      p Sign up to join a clubhouse
      p Leave a message for other user to view
      p Join a clubhouse, enter the secret #[br] password and view user for each message